.VPSidebar {
  --at-apply: outline-none;
  background-color: var(--vp-c-bg) !important;
  border-right: 1px solid var(--vp-c-divider) !important;
}

.VPSidebarItem:hover {
  color: var(--vp-c-brand-1);
}

.VPSidebarItem .VPLink {
  --at-apply: rounded-xl px-2 py-1;
}

.VPSidebarItem.is-link .VPLink > p {
  --at-apply: py-0;
}

.VPSidebarItem.is-active .VPLink {
  background-color: color-mix(in srgb, var(--brand-color) 12%, transparent);
}

:root {
  --vp-sidebar-width: 300px
}
